{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Automatic Text Summarizer <small>by Jai Juneja</small></h1>
        </div>
        <div class="panel-body">
            <form action="" method=post>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.text.label }}
                    {{ form.text(rows=5, class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.algorithm.label }}
                    {{ form.algorithm(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.length.label }}
                    {{ form.length(class_='form-control') }}
                </div>
                <button class="btn btn-info" type=submit value="Summarize">Summarize</button>
            </form>
        </div>
    </div>

    {% if summary %}
        <div id="summary">
            <div class="well clearfix">
                <div class="col-md-3">
                    <h3 class="share-link">Share Link</h3>
                </div>
                <div class="form-group col-md-9">
                    <input id="summary-link" class="form-control" value="sometext"
                           onclick="this.setSelectionRange(0, this.value.length)">
                </div>
            </div>
            <div class="well">
                {% include 'includes/summary_composite.html' %}
            </div>
        </div>
    {% endif %}

{% endblock %}