.logo {
    height: 50px;
    padding: 5px 15px 14px 15px;
}

/* Navbar search */

.search-query {
    padding: 4px 14px;
    margin-bottom: 0;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar-collapse .navbar-form {
    border: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer p {
    text-align: right;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Summary styling */
.article mark {
    background-color: #d9edf7;
    color: #31708f;
}

.summary-container > div {
    display:none;
}

.summary-container > div:first-child {
    display:block;
}

h3.share-link {
    margin-top: 0;
}

@media all and (max-width: 460px) {
    .summary-buttons span {
        display: none;
    }
}

/* News page */

.read-more-ul {
    margin-top: -10px;
}

.read-more-news {
    text-align: right;
}

.panel-news-source {
    background-color: #eee;
    /*border-bottom: 1px solid #bce8f1;*/
    /*color: #31708f;*/
    /*height: 20px;*/
    padding: 4px 15px;
    height: 100%
}

.news-main-content {
    padding-right: 0;
    padding-left: 0;
}

.news-image {
    float: right;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom: 10px;
    background-size: cover;
}

/* News source buttons */

.news-button {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1px 6px;
}

.bbc {
    color: #fff;
    background-color: #b73634;
    border-color: #931a18;
}

.bbc:hover {
    color: #fff;
    background-color: #931a18;
}

.cnn {
    color: #b2000e;
    background-color: #fff;
    border-color: #b1b3b3;
}

.cnn:hover {
    color: #b2000e;
    background-color: #e2e2e2;
}

.huffpo {
    color: #fff;
    background-color: #008f59;
    border-color: #00713f;
}

.huffpo:hover {
    color: #fff;
    background-color: #00713f;
}

.daily_mail {
    color: #fff;
    background-color: #0068a9;
    border-color: #00466f;
}

.daily_mail:hover {
    color: #fff;
    background-color: #00466f;
}

.ny_times {
    color: #fff;
    background-color: #494448;
    border-color: #1a1319;
}

.ny_times:hover {
    color: #fff;
    background-color: #1a1319;
}

/* Sidebar */
.sidebar-group {
    margin-bottom: 0;
}

.sidebar-item {
    border: none;
}

.filter-news {
    font-size: 16px;
}

/* General stuff */
.float-left {
    width: 50%;
    float: left;
}

.pub-date {
    text-align: right;
}