/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer p {
    text-align: right;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Summary styling */
.article mark {
    background-color: #d9edf7;
    color: #31708f;
}

.summary-container > div {
    display:none;
}

.summary-container > div:first-child {
    display:block;
}

h3.share-link {
    margin-top: 0;
}

/* News page */

.read-more-news {
    text-align: right;
}

.panel-news-source {
    background-color: #eee;
    /*border-bottom: 1px solid #bce8f1;*/
    /*color: #31708f;*/
    /*height: 20px;*/
    padding: 4px 15px;
    height: 100%
}

.news-main-content {
    padding-right: 0;
    padding-left: 0;
}