/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer p {
    text-align: right;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Home styles
-------------------------------------------------- */

.article mark {
    background-color: #d9edf7;
    color: #31708f;
}

.summary-container > div {
    display:none;
}

.summary-container > div:first-child {
    display:block;
}

h3.share-link {
    margin-top: 0;
}