{% extends "news/layout.html" %}
{% block title %}View Summary{% endblock %}

{% block content %}
    {% if source_url %}
        <div class="well">
            <a href="/news/source/{{ summary.news_source.slug }}"><button type="button" class="btn news-button {{ summary.news_source.slug }}">{{ summary.news_source.name }}</button></a>
            <a href="/news/category/{{ summary.news_category.slug }}"><button type="button" class="btn news-button btn-default">{{ summary.news_category.name }}</button></a>
            &nbsp; View the original article <a href="{{ source_url }}">here</a>.
        </div>
    {% endif %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Summary: {{ summary.title }}</h1>
        </div>
        <div class="panel-body">
            {% include 'includes/summary_composite.html' %}
        </div>
    </div>
{% endblock %}

{% block js_scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/summary.js') }}" ></script>
{% endblock %}