{% extends "news/layout.html" %}
{% block title %}News{% endblock %}

{% block content %}

    <div class="news-wrapper">
        <div class="well col-lg-12">
            <h2>
                This week's top news<br>
                <small>from your favourite sources</small>
            </h2>
        </div>

        <div class="news-main-content clearfix col-lg-9">
            {% if results %}
            <div class="js-infinite-layout">
                {% include 'news/news_items.html' %}
                <div class="js-infinite-navigation">
                    <a href="{{ request.url }}page/{{ page + 1 }}"></a>
                </div>
            </div>

            {% else %}
                <p class="alert alert-info">
                    No news to show.
                </p>
            {% endif %}

        </div>

        <div class="news-sidebar col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Top Stories</h1>
                </div>
                <div class="panel-body">
                    {% include 'news/sidebar.html' %}
                </div>
            </div>
        </div>
    </div>

    {% include 'news/nav_bottom.html' %}

{% endblock %}

{% block js_scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/news.js') }}" ></script>
{% endblock %}