<p class="article">
    {%- set newline = [0] -%}
    {%- set firstline = [1] -%}
    {%- for text, highlight, paragraph in summary.highlighted_text -%}
        {%- set count = 1 -%}
        {%- for line in text.splitlines() -%}
            {%- if line == '' or count != 1 -%}
                {# Set newline to true #}
                {%- set _ = newline.pop() -%}
                {%- set _ = newline.append(1) -%}
            {%- endif -%}

            {%- if highlight -%}
                {%- if newline[0] and not firstline[0] -%}
                    <br><br>
                {%- endif -%}
                {{ line }}
                {# Set firstline to false #}
                {%- set _ = firstline.pop() -%}
                {%- set _ = firstline.append(0) -%}
                {# Set newline to false #}
                {%- set _ = newline.pop() -%}
                {%- set _ = newline.append(0) -%}
            {%- endif -%}
            {%- set count = count + 1 -%}
        {%- endfor -%}
        {%- if paragraph and newline[0] and not firstline[0] -%}
            <br><br>
            {# Set newline to false #}
            {%- set _ = newline.pop() -%}
            {%- set _ = newline.append(0) -%}
        {%- endif -%}
    {%- endfor -%}
</p>